
<header><app-header></app-header></header>
<br>
<br>
<a routerLink="/surveylists" class="btn btn-info">Survey Lists</a>


<div class="card my-2">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #userForm="ngForm"  >
        <br><br><br>
        <div class="form-group">
          <label for="name">Survey Name</label>
          <input type="text" [(ngModel)]="survey.surveyName" 
            class="form-control" 
            id="name" 
            name="name" 
            placeholder=" Survey name"
            required #name="ngModel">
        </div>
        <div [hidden]="!name.pristine" class="alert alert-danger">Survey Name  required</div>
        <div class="form-group">
          <label for="email">Survey Description</label>
          <textarea [(ngModel)]="survey.survey_description" 
            class="form-control" 
            id="desc" 
            name="desc" 
            placeholder="survey description"
            required #email="ngModel" rows="4" cols="50"></textarea>
          <div [hidden]="!email.pristine" class="alert alert-danger">Description Required</div>
        </div>
        

        <button type="submit"  
        class="btn btn-info" >Submit</button> 
        
      </form>
    
      
    </div>
  

   
  </div>
  
 


  
