

<div class="card my-2">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #userForm="ngForm"  >
        <br><br><br>
        <div class="form-group">
          <label for="name">Survey Name</label>
          <input type="text" [(ngModel)]="survey.survey_name" 
            class="form-control" 
            id="name" 
            name="name" 
            placeholder=" Survey name"
            required #name="ngModel">
        </div>
        <div [hidden]="!name.pristine" class="alert alert-danger">Survey Name  required</div>
        <div class="form-group">
          <label for="email">Survey Description</label>
          <textarea [(ngModel)]="survey.survey_description" 
            class="form-control" 
            id="desc" 
            name="desc" 
            placeholder="survey description"
            required #email="ngModel" rows="4" cols="50"></textarea>
          <div [hidden]="!email.pristine" class="alert alert-danger">Description Required</div>
        </div>
        

        <button type="submit"  
        class="btn btn-info" >Submit</button> 
        
      </form>
    
      
    </div>
  

   
  </div>
  
  <!-- <button type="button" class="btn btn-info btn-lg" (click)="openModal()">Add Question</button>
  
  
  
  
  
  
  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
       <div class="modal-dialog" role="document">
             <div class="modal-content">
                   <div class="modal-header">
                         <h4 class="modal-title">Questions</h4>
                         <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                       </div>
              <div class="modal-body">
        

      
          
          
          </div>
          <div class="container">
  
    
    
            <form (ngSubmit)="onSubmitone()">
              
              
          Question Type 
                <select [(ngModel)]="question.question_type"  [ngModelOptions]="{standalone: true}" >
                  
                  <option *ngFor="let country of countries"  >{{country.name}}</option>
                </select>
               
                
                <p>
        
                <label for="name">Question Name:</label>
                <input type="text" id="qname" name="qname" [ngModelOptions]="{standalone: true}"     [(ngModel)]="question.question"   >
              </p>
            
            
               
                  <th >Options:</th>
                 
                    <input  type="text"   [ngModelOptions]="{standalone: true}"  [(ngModel)]="option.option_name" >        
                 
                  
           
             
              
              
            
              
            <br/>
           
          
        
               
                
                  
                       
                   <div class="modal-footer">
                    <button type="submit"  class="btn btn-secondary" id="btn" >Add</button>
                         <button type="button" class="btn btn-default" (click)="onCloseHandled()" >Close</button>
                       </div>
                      </form>
          </div>
           </div> -->
<!-- </div>
  </div>
   -->


  
