<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/surveylists" class="btn btn-info">Survey Lists</a>
                </li>
            <li class="list-inline-item">
              <a routerLink="/addsurvey" class="btn btn-info">Add Survey</a>
                </li>
          </ul>
        </div>
      </div>
           <router-outlet></router-outlet>
      </div>
      <app-client-login></app-client-login>  </div>
</div>




