<header>
    <nav class="navbar navbar-inverse navbar-dark bg-secondary">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/login">
            <img src="https://imgs.search.brave.com/x1g2y_vvfxNcJTvWp_UmLvFH0Vl2h7-B8z_lY1VPV-U/rs:fit:600:295:1/g:ce/aHR0cHM6Ly9lYm9v/a3MubXRsZWJhbm9u/Lm9yZy9pbWFnZXMv/c3VydmV5X2xvZ28u/cG5n"></a>
          </div>
          
        </div>
      </nav>
  
</header>



<form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
<div align ="center">
<div class="card text-center" style="width: 300px;" >
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Enter your email address and we'll send you an email with instructions to reset your password.
        </p>
        <div class="form-outline">
            <input type="email" formControlName="recipient" value="mail" mat-card-xl-image>
            <!-- <label class="form-label" for="typeEmail" >Email input</label> -->
        </div>
       <button type="submit" class="btn btn-info    ">Reset</button>
        <div class="d-flex justify-content-between mt-4">
            
            
        </div>
    </div>
</div>
</div>
</form>
