<header><app-header></app-header></header>

<h1>Question </h1>


<form [formGroup]="optionForm" (ngSubmit)="onSubmitone()">
              
              
    Question Type 
          <select [(ngModel)]="question.question_type"  [ngModelOptions]="{standalone: true}" >
            
            <option *ngFor="let country of countries"  >{{country.name}}</option>
          </select>
         
          
          <p>
  
          <label for="name">Question Name:</label>
          <input type="text" id="qname" name="qname" [ngModelOptions]="{standalone: true}"     [(ngModel)]="question.question"   >
        </p>
      
        <!-- <button type="submit"  
        class="btn btn-info">Add </button>       -->
      
         
            <!-- <th >Options:</th>
           
              <input  type="text"   [ngModelOptions]="{standalone: true}"  [(ngModel)]="option.option_name" >        
           
             -->
     
       
             
        
      
        
      <br/>
      
                 
            
              <!-- <button type="submit"  class="btn btn-secondary" id="btn" >Add/button> -->
                   <!-- <button type="button" class="btn btn-default" (click)="onCloseHandled()" >Close</button> -->
                

            <!-- </form >
            <form [formGroup]="optionForm" >
            <br>
            <br>
            <br>
            <span aria-rowspan="10">
              
                <h2>Options</h2>
               
                <input type="text" formControlName="addOptions" placeholder="Add Options" name="option"  id="option">
                <button  class="btn btn-primary" (click)="onOption()" >+</button>
             
                  
            </span>  
          </form>   -->



            <!-- <form> <th >Options:</th>
           
              <input  type="text"   [ngModelOptions]="{standalone: true}"  [(ngModel)]="option.option_name" >        
            
              <button type="submit"  
              class="btn btn-info" (click)="reload()">Add Option </button>  
            
            </form> -->
            <br>
            <br>
            <br>
            
          <!-- <form (ngSubmit)="onOptionTwo()"> -->
            <th >Options:</th>

            <div *ngFor="let value of values; let i = index"> 
              <input type="text" formControlName="addOptions"  name="value{{i}}">
              &nbsp;&nbsp; <button (click)="addvalue()" class="btn btn-primary">+</button> &nbsp;&nbsp; <button (click)="removevalue(i)" class="btn btn-danger">-</button>
            </div>
            
            <button type="submit" class="btn btn-secondary">Add</button>
            
            <!-- <h2>Result</h2>
            <div *ngFor="let value of values;">
              {{ value.value}}
            </div> -->
          </form>
            


 <div>           <app-question-view></app-question-view>
 </div>