
<header><app-header></app-header></header>



<form [formGroup]="questionForm"  (ngSubmit)="onSubmitone()">
              
 <h1 align="center">Add Question</h1>

 <div class="testbox">

    
    <div >
      <div class="item">
        Question Type 
          <select formControlName="question_type">
            
            <option *ngFor="let country of countries"  >{{country.name}}</option>
          </select>
         
      </div>
      <div class="item">
        <label for="lname"> Question Name:</label>
        <input type="text" id="qname" name="qname" formControlName="question"   >
      </div>
      <div class="item">
        <!-- <label for="lname"> SurveyId:</label>   -->
        <input type="text" id="qname" name="qname" formControlName="surveyId" [(ngModel)]="id"  hidden>
      </div>
      <div formArrayName="options">

        <label for="lname">  Options:</label>
          <div  *ngFor="let options of options.controls; let i =index">
            <div [formGroupName]="i">
             
              <input type="text"  formControlName="options">

              &nbsp;&nbsp;&nbsp; <button (click)="removeOption(i)" class="btn btn-danger">-</button>

            </div>

          </div>

        
        
            
         
   <p>
    <button type="button" (click)="addOptions()" class="btn btn-secondary">+</button>
  </p>
  <div align="right"><button  type="submit" class="btn btn-primary">Add</button></div>

  {{this.questionForm.value | json}}
      </div>
      
    </div></div>
    

  </form>


  <div>           
    <app-question-view></app-question-view> 
  </div>

