<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let surveys of survey">
            <td>{{ surveys.survey_id }}</td>
            <td>{{ surveys.survey_name }}</td>
            <td>{{ surveys.survey_description }}</td>
           <!-- <td><button type="button" class="btn btn-primary">Edit</button></td>  -->
           <td><button type="button" class="btn btn-primary"(click)="onQuestion(surveys.survey_id)">Question</button></td> 
           <td><button type="button" class="btn btn-secondary" (click)="onEdit(surveys.survey_id)">Edit</button></td> 

            <td><button type="button" class="btn btn-secondary" (click)="deleteSurvey(surveys.survey_id)">Delete</button></td> 
          </tr>
        </tbody>
      </table>
    </div>
  </div>