<header><app-header></app-header></header>


<p *ngFor="let option of options">
  {{option.option_name}}

</p>


<div class="row">
      <div class="card col-md-6 offset-md-3 offset-md-3">
            <h3 class="text-center"> Update Survey </h3>
          <div class="row">
              
            
              <div class="card-body">
                  <form  [formGroup]="surveyForm">
                
                          
                      <div class="form-group">
                          <label> Survey Name</label>
                          <input  *ngFor="let survey of surveys"  type="text" class="form-control" id="firstName" 
                              name="firstName"  formControlName="surveyName" [(ngModel)]="survey.surveyName" >
                      </div>
  
                      <div class="form-group">
                          <label>Survey Description</label>
                          <input *ngFor="let survey of surveys" type="text" class="form-control" id="lastName" 
                              name="lastName"formControlName="survey_description" [(ngModel)]="survey.survey_description">
                      </div>
  
                    
                      
                      <button type="submit" class="btn btn-success" *ngFor="let survey of surveys" (ngSubmit)="onUpdate(survey.survey_id)" (click)="onUpdate(survey.survey_id)">Update</button>
                  
                  </form>
              </div>