<header><app-header></app-header></header>


<p *ngFor="let option of options">
  {{option.option_name}}

</p>


<div class="row">
      <div class="card col-md-6 offset-md-3 offset-md-3">
            <h3 class="text-center"> Update Survey </h3>
          <div class="row">
              
            
              <div class="card-body">
                  <form *ngFor="let survey of surveys" (ngSubmit)="onUpdate(survey.survey_id)">
                    <!-- <tr *ngFor="let surveys of surveyedit"></tr>    -->
                    <!-- <tr *ngFor="let surveys of survey">
                              <td>{{ surveys.survey_id }}</td>
                              <td>{{ surveys.survey_name }}</td>
                              <td>{{ surveys.survey_description }}</td></tr> -->
                       
                              <tr ></tr>
                      <div class="form-group">
                          <label> Survey Name</label>
                          <input  *ngFor="let survey of surveys"  type="text" class="form-control" id="firstName" 
                              name="firstName"  [(ngModel)]="surveyedit.survey_name" [(ngModel)]="survey.survey_name" >
                      </div>
  
                      <div class="form-group">
                          <label>Survey Description</label>
                          <input *ngFor="let survey of surveys" type="text" class="form-control" id="lastName" 
                              name="lastName" [(ngModel)]="surveyedit.survey_description" [(ngModel)]="survey.survey_description">
                      </div>
  
                       <!-- <p *ngFor="let surveys of survey"> -->
                      
                      <button type="submit" class="btn btn-success">Update</button>
                  
                  </form>
              </div>